@import "../../common/common.scss";

.navbar-container {
  display: flex;
  height: 72px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5em;

  .search-bar {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid lightgray;

    input {
      background: none;
      border: none;
      outline: none;
      font-size: 1.5rem;
      text-align: left;
      width: 90%;
      margin-left: 3rem;

      padding: 0.5em 0;
    }

    #search-icon {
      position: absolute;
      left: 0;
    }
  }
}
